* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #1cb112;
    --border-light: #9a9a9a;
    --border-dark: #434242;
    --white: #ffffff;
    --gray: #7b7a7a;
    --glow-red: #c70101;
    --glow-green: #9dee6b;
    --text-primary: rgb(112, 2, 2);
    --line-space-1: 1.5rem;
    --img-height: 21rem;
    --title: 2rem;
    --title-2: 1.45rem;
    --title-3: 1rem;
    --button: 1rem;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-md {
    width: 45px;
    height: 45px;
}

.icon-lg {
    width: 65px;
    height: 65px;
}

.text-center {
    text-align: center;
}

.title-2 {
    font-size: var(--title-2);
}

.image-container {
    width: 100%;
    height: var(--img-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.image-fit {
    width: 90%;
    height: var(--img-height);
    border-radius: 20px;
}

.line-h {
    display: block;
    margin: auto;
    width: 50rem;
    height: 1px;
    background-color: var(--border-light);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.flex-left{
    margin-left: auto;
}


@media (max-width:786px) {
    .line-h {
        width: 26rem;
    }

    .title-2 {
        font-size: var(--title-3);
    }



}

@media (max-width:431px) {
    .line-h {
        width: 18rem;
    }


}



/* NAVBAR */
.navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    z-index: 10;
    border-bottom: 1px var(--border-dark) solid ;
    background-color: rgb(255, 255, 255);
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 4rem;
    font-size: var(--button);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s ease;
}

.hamburger-icon {
    display: none;
}

@media (max-width: 768px) {
    .nav-list {
        display: flex; /* Set display to flex initially */
        flex-direction: column;
        position: absolute;
        top: 81px;
        right: 0;
        gap: 2rem;
        padding: 1.5rem 0;
        background-color: white;
        width: 100%;
        z-index: 10;
        opacity: 0; /* Start with hidden opacity */
        transform: translateY(-20px); /* Initial slide up position */
        border-bottom: 1px var(--border-dark) solid ;
        pointer-events: none; /* Prevent clicking when hidden */
    }

    .nav-list.show {
        opacity: 1; /* Show with full opacity */
        transform: translateY(0); /* Slide to original position */
        pointer-events: auto; /* Allow clicking when shown */
    }

    .hamburger-icon {
        display: block;
    }
}


.nav-list a {
    color: var(--text-primary);

}

/* TITLE */
.title {
    width: 100vw;
    height: 390px;
    background-image: url('../Assets/title-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    mask-image: linear-gradient(to bottom, black 92%, transparent 100%);
    /* Apply blur effect at the bottom */
}

.title h1 {
    text-align: center;
    color: white;
    padding-top: 10rem;
    font-size: var(--title);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
}

@media (max-width:768px) {
    .title{
        height: 300px;
    }
    .title h1{
        font-size: var(--title-2);
    }
}

/* MAIN SECTION */

.main-container {
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 3rem;
}

.main-container h1 {
    font-size: var(--title);
}

.main-list {
    /* width: 800px; */
    margin-left: auto;
    margin-right: auto;

}

.main-flex-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    margin: 1rem 0;

}

.main-flex-list li {
    width: 30vw;
    padding: 1rem;
    border-radius: 10px;
    border: 0.5px var(--border-light) solid;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.main-flex-list span {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    gap: 10px;
}

.main-flex-list-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0.5rem;
    margin: 1.5rem 0;
    background-color: #f9de72;
    background-image: linear-gradient(132deg, #cff253 0%, #16A085 100%);
    border-radius: 25px;

}

.main-flex-list-2 li {
    position: relative;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Blur effect to create frosted glass */
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    width: 36vw;
    padding: 1rem;
    border-radius: 10px;
    border: 0.5px solid var(--border-light); /* Light border */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: all 0.3s ease-out;
}


.main-flex-list-2 li:hover,
.main-flex-list li:hover {
    transform: translateY(-10px);
    background: var(--gray);
    box-shadow: 0 0 15px var(--glow-green);
    /* Glowing effect with blue color */
    background-color: var(--white);
    /* Optional: Change background color on hover */
    /* Changes cursor to pointer on hover */
}

.main-flex-list-2 span {
    display: flex;
    align-items: center;
    color: var(--text-primary);
    gap: 10px;
    padding: 10px 0;
}

.details {
    display: none;
    padding: 10px;
    background-color: var(--white);
    border-top: 1px solid #ddd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.details-2 {
    padding: 10px;
    background-color: transparent;
    border-top: 1px solid #ddd;
}



.toggle-details {
    cursor: pointer;
    display: block;
}

.rotate {
    transition: transform 0.3s ease;
}

.rotate.active {
    transform: rotate(180deg);
}


@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .main-flex-list li,
    .main-flex-list-2 li {
        width: 70vw;
    }
}

.main-description {
    max-width: 800px;
    line-height: var(--line-space-1);
}

.main-description p {
    margin: 10px 0;
}
/* CHAT */
.chat-container {
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 20px; /* Distance from the bottom of the viewport */
    right: 20px; /* Distance from the right side of the viewport */
    z-index: 100; /* Ensures the button stays on top of other elements */
}

.chat-btn {
    border: none; /* Remove default button border */
    padding: 15px; /* Button padding */
    background: transparent;
    cursor: pointer; /* Changes cursor to pointer on hover */
}

.chat-btn img{
    border-radius: 50%;
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.chat-btn img:hover {
    transform: scale(1.1); /* Slightly enlarge the button on hover */
    box-shadow: 0 0 15px var(--glow-red);;
}



/* FOOTER */
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
    flex-wrap: wrap;
}

.footer-element {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-element h3 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footer-element p,
.footer-element a {
    margin: 5px 0;
    font-size: 1rem;
    color: #ccc;
    text-decoration: none;
}

.footer-element a:hover {
    color: white;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-element {
        margin: 20px 0;
    }
}