*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    gap: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-list a{
    color: brown;
    text-decoration: none;
}

/* TITLE */
.title{
    width: 100vw;
    height: 420px;
    background-image: url('../Assets/title-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title h1{
    text-align: center;
    color: white;
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    letter-spacing: 2px;
}